body{
  height:auto;
  min-height:100vh;
  background-color: #935d8c;
}

html{
  overflow:auto;
  background: Linear-gradient( rgb(2, 0, 5), rgb(128, 128, 128));
  background-repeat: no-repeat;
  background-size: cover;
  color:azure;
  min-height:100vh;
  height:auto;
}
.wrapper{
  background: Linear-gradient( rgb(2, 0, 5), rgb(128, 128, 128));
  min-height:100vh;
  height:auto;
  padding-top:5%;
}
.container{
  border: 5px solid black;
  text-align: center;
  width:20vw;
  margin: 0% auto 3% auto;
  background:url(weather-icon/clear-day.jpg);
  background-size: cover;
  box-shadow: 0px 0px 15px #000000;
  border-radius: 15px;
}
.top-container{
  min-height:41vh;
}
.data-container{
  min-height:31vh;
  max-height:34vh;
  padding-bottom:16%;
  padding-top:2%;
}
.title{
  font-size:42px;
  font-weight:500;
  margin-bottom:20%;
  text-shadow: 2px 2px 5px black,
  0px 0px 5px rgb(0, 0, 0);
}
.top-data{
  font-size:52px;
  font-weight:600;
  text-shadow: 2px 2px 5px black,
  0px 0px 5px rgb(0, 0, 0);
}
#desc-top{
  font-size:25px;
  text-transform: capitalize;
}

#searchBar{
  font-size:28px;
  text-align:center;
  border: 3px solid black;
  background-color: rgba(230, 230, 230, 0.384);
  width:80%;
}
input:focus{
  outline: none;
}

.weather-function{
  font-size:32px;
  font-weight:500;
  text-align: left;
  margin-left:10%;
  text-shadow: 2px 2px 5px black,
  0px 0px 5px rgb(0, 0, 0);
}
#location{
  font-size:42px;
  text-align: center;
  margin-right:10%;
}
#desc{
  text-transform: capitalize;
}
#temp{
  margin-top:3%;
}
.credits{
  text-align: center;
  margin-top:-2%;
}
#credit-popup{
  display: none;
  border: 5px solid black;
  width:25vw;
  color:black;
  background-color:white;
  margin: 0 auto 0 auto;
}
#img-Credit{
  text-decoration: underline;

}
#img-Credit:hover{
  cursor: pointer;
}
a {
  color:white;
}
#close{
  background: black;
  color: white;
  float:right;
}

@media screen and (max-width: 1024px) {
  .container{
    width:60vw;
    margin: 15% auto 20% auto;
  }
  .title{
    margin-bottom: 5%;
  }
  .top-container{
    min-height:30vh;
  }
  .top-data{
    font-size:92px;
  }
  .data-container{
    min-height:32vh;
    max-height:50vh;
  }
  .weather-function{
    font-size:48px;
    margin-left:10%;
  }
  #searchBar{
    font-size:38px;
  }
  #location{
    font-size:62px;
  }
  #credit-popup{
    width:50vw;
  }
  .credits{
    margin-top:-10%;
  }
}
  @media screen and (max-width: 768px) {

    .container{
      width:70%;
      margin: 0% auto 5% auto;
    }
    .top-container{
      min-height:40vh;
    }
    .data-container{
      min-height:34vh;
      max-height:50vh;
    }
    .title{
      font-size:24px;
      margin-bottom:2%;
    }
    #searchBar{
      font-size:32px;
    }
    #location{
      padding-bottom:2%;
      font-size:54px;
    }
    .weather-function{
      font-size:42px;
    }
    #credit-popup{
      width:60vw;
    }
    .credits{
      margin-top:-2%;
    }
  }

  @media screen and (max-width: 414px) {
    html{
      margin:0;
      border:0;
    }

    .container{
      width:100%;
      height:90vh;
      border: 0px;
    }
    .title{
      display:none;
    }
    .top-container{
      min-height:40vh;
    }
    .top-data{
      padding-top:5vh;
      font-size:11.2vw;
    }
    .data-container{
      min-height:40vh;
      max-height:50vh;
    }
    #searchBar{
      font-size:5.8vw;
    }
    #location{
      display:none;
    }
    .weather-function{
      font-size:6.4vw;
    }
    #credit-popup{
      width:90vw;
    }
    .credits{
      margin-top: -2%;
    }
  }

  @media screen and (max-width: 390px) {
    #credit-popup{
      width:90vw;
    }
    #location{
      padding-top:10px;
      font-size:9.6vw;
    }
  }
    
  @media screen and (max-width: 375px) {
    .top-container{
      min-height:35vh;
    }
    .data-container{
      min-height:45vh;
      max-height:50vh;
    }
    #location{
      display:none;
    }
    #credit-popup{
      margin-top:0%;
    }
    .credits{
      margin-top: -0%;
    }
  }
